Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

add test for stylus loader
  package.json
  platform/viewer/config/webpack.common.js
  yarn.lock
Due: viewer

Try new way to specify publish path
  netlify.toml
Due: none

Use an output folder that won't be ignored
  .netlify/build-deploy-preview.sh
  .netlify/www/index.html
  netlify.toml
Due: none

Try move command
  .netlify/build-deploy-preview.sh
Due: none

fiddle with paths
  .netlify/build-deploy-preview.sh
Due: none

Dig for some information
  .netlify/build-deploy-preview.sh
Due: none

Make sure we're in root for our commands
  .netlify/build-deploy-preview.sh
Due: none

Remove discovery
  .netlify/build-deploy-preview.sh
Due: none

Setup script-tag example
  .netlify/build-deploy-preview.sh
  README.md
  package.json
Due: none

Fix typo
  .netlify/build-deploy-preview.sh
Due: none

Move config folder
  .netlify/build-deploy-preview.sh
  maintainer-notes.md
Due: none

Update cornerstone extension to use shared/root webpack configs
  extensions/cornerstone/.webpack/webpack.dev.js
  extensions/cornerstone/.webpack/webpack.prod.js
  extensions/cornerstone/config/webpack.common.js
  extensions/cornerstone/config/webpack.prod.js
  extensions/cornerstone/package.json
  platform/viewer/config/webpack.common.js
Due: viewer

capture changes
  .webpack/webpack.common.js
  maintainer-notes.md
Due: none

Update extension webpack configs
  .webpack/webpack.common.js
  extensions/cornerstone/package.json
  extensions/dicom-html/.webpack/webpack.dev.js
  extensions/dicom-html/.webpack/webpack.prod.js
  extensions/dicom-html/config/webpack.common.js
  extensions/dicom-html/config/webpack.prod.js
  extensions/dicom-html/package.json
  extensions/dicom-microscopy/.webpack/webpack.dev.js
  extensions/dicom-microscopy/.webpack/webpack.prod.js
  extensions/dicom-microscopy/config/webpack.common.js
  extensions/dicom-microscopy/config/webpack.prod.js
  extensions/dicom-microscopy/package.json
  extensions/dicom-pdf/.webpack/webpack.dev.js
  extensions/dicom-pdf/.webpack/webpack.prod.js
  extensions/dicom-pdf/config/webpack.common.js
  extensions/dicom-pdf/config/webpack.prod.js
  extensions/dicom-pdf/package.json
  extensions/vtk/.webpack/webpack.dev.js
  extensions/vtk/.webpack/webpack.prod.js
  extensions/vtk/package.json
  extensions/vtk/webpack.config.js
Due: none

Don't check in docz output
  .gitignore
Due: none

Fix babel runtime resolution issue
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-microscopy/package.json
  extensions/dicom-pdf/package.json
  extensions/vtk/package.json
  package.json
  platform/core/.webpack/webpack.prod.js
  platform/core/config/webpack.common.js
  platform/core/package.json
  platform/i18n/.webpack/webpack.dev.js
  platform/i18n/.webpack/webpack.prod.js
  platform/i18n/config/webpack.common.js
  platform/i18n/config/webpack.prod.js
  platform/i18n/package.json
  platform/ui/package.json
  platform/ui/yarn.lock
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

Simplify ui build steps
  platform/ui/.webpack/webpack.prod.js
  platform/ui/config/webpack.common.js
  platform/ui/config/webpack.prod.js
  platform/ui/package.json
Due: none

fix(ToolbarRow): Includes validation to run active tool definition when mounting tool buttons
  src/connectedComponents/ToolbarRow.js
Due: none

Push in progress
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-microscopy/package.json
  extensions/dicom-pdf/package.json
  extensions/vtk/package.json
  maintainer-notes.md
  package.json
  platform/viewer/.webpack/webpack.common.js
  platform/viewer/.webpack/webpack.dev.js
  platform/viewer/.webpack/webpack.prod.js
  platform/viewer/config/webpack.dev.js
  platform/viewer/package.json
Due: viewer

Get viewer dev path to work
  .webpack/webpack.common.js
  README.md
  babel.config.js
  maintainer-notes.md
  package.json
  platform/viewer/.webpack/all.dev.js
  platform/viewer/.webpack/webpack.dev.js
  platform/viewer/package.json
  platform/viewer/src/App.js
  yarn.lock
Due: viewer

Fix viewer commonjs build
  platform/viewer/.webpack/all.dev.js
  platform/viewer/.webpack/commonjs.prod.js
  platform/viewer/.webpack/webpack.common.js
  platform/viewer/package.json
Due: viewer

Fix build pwa config for viewers
  package.json
  platform/viewer/.webpack/commonjs.prod.js
  platform/viewer/.webpack/pwa.prod.js
  platform/viewer/.webpack/webpack.prod.js
  platform/viewer/package.json
  yarn.lock
Due: viewer

Make sure our package specific command can be called from root
  platform/viewer/package.json
Due: viewer

Update notes
  maintainer-notes.md
Due: none

Fix imports and misc. merge notes
  extensions/cornerstone/src/commandsModule.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/studylist/StudyListWithData.js
Due: viewer

Bump wado-image-loader version
  platform/viewer/package.json
  yarn.lock
Due: viewer

Switch up commands to remove webworkers copy
  platform/viewer/package.json
Due: viewer

Fix CI config
  .circleci/config.yml
  platform/viewer/package.json
  yarn.lock
Due: viewer

Fix more broken package references
  platform/ui/src/__docs__/getting-started.mdx
  platform/ui/src/__docs__/introduction.mdx
  platform/viewer/src/connectedComponents/ViewerLocalFileData.js
  platform/viewer/src/googleCloud/ConnectedDicomFilesUploader.js
  platform/viewer/src/googleCloud/DatasetsList.js
  platform/viewer/src/googleCloud/DicomStoreList.js
  platform/viewer/src/googleCloud/LocationsList.js
  platform/viewer/src/googleCloud/ProjectsList.js
Due: viewer

Add react-dropzone
  platform/viewer/package.json
  yarn.lock
Due: viewer

Persist so e2e test can use
  .circleci/config.yml
Due: none

Fix lockfile
  yarn.lock
Due: none

Use cypress orb to simplify CI
  .circleci/config.yml
Due: none

Fix config
  .circleci/config.yml
Due: none

Try again
  .circleci/config.yml
Due: none

Install yarn latest for orb
  .circleci/config.yml
Due: none

Install yarn a different way
  .circleci/config.yml
Due: none

Wait on correct port
  .circleci/config.yml
Due: none

Run tests in viewer project
  .circleci/config.yml
Due: none

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
